
@{
    ViewData["Title"] = "Store";
}

<div class="text-center">
    <h1 class="display-4 pb-2">Inside the store!</h1>
    <p class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet vestibulum nulla. Suspendisse rutrum, lacus a placerat tempus, tellus velit efficitur leo, id tincidunt leo risus eget libero. Nulla vestibulum metus non neque ullamcorper, non ornare est aliquam. Maecenas in libero nec ipsum dapibus pellentesque sed eu mauris. Quisque dapibus leo fringilla lorem pulvinar volutpat. Sed commodo, nibh in condimentum ultricies, diam felis ultrices purus, sed aliquam libero felis et ligula. Fusce porta placerat dolor a imperdiet. Suspendisse dapibus, nisl sed consequat sollicitudin, erat diam porta metus, tempor sodales felis lectus non arcu. Aliquam ullamcorper sagittis pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In laoreet accumsan lorem, vitae rhoncus nunc consequat pellentesque. In ac ligula metus. Nullam dui lorem, viverra vel aliquam sit amet, ultrices nec ante.</p>
</div>

